body{
    background-color: gray;

}

p{
    font-family: Arial, Helvetica, sans-serif;
    color: orange;
    font-size: large;

}
h1{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
div{
    border:1px solid white;
    margin-top: 10px;
    padding: 10px;
    font-size: large;
}